.shiny-date-range-input > .input-daterange > .input-sm {
  width: auto;
}

.datepicker {
  position: absolute;
  background: lightgray;
}

.shiny-material-side-nav-tab-content {
  margin-left: 10px;
  margin-right: 10px;
}